.bash_history
.bash_profile
.bash_logout
.cache
.config
.dbus
Desktop
Documents
Downloads
.esd_auth
.fehbg
.gitconfig
.gnome
.ICEauthority
.java
.local
.mozilla
Music
.PhpStorm2018.1
Pictures
Public
.pki
Software
.ssh
Templates
Videos
.viminfo
.Xauthority

