.bash_history
.bash_profile
.bash_logout
.cache
.config
.dbus
Desktop
Documents
Downloads
.esd_auth
.fehbg
.gitconfig
.ICEauthority
.local
.mozilla
Music
Pictures
Public
.pki
.ssh
Templates
Videos
.Xauthority
.viminfo
